/*@import "node_modules/react-image-gallery/styles/css/image-gallery.css";*/

.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.application {
  height: 100%;
  margin: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.navBar {
  background-color: Lavender;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

.headerNavBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 60px;;
}

a {
  margin: 40px;
}

div.logo {
  background-color: Lavender;
  padding-left: 15px;
  display: flex;
  align-items: flex-end;
}

img {
  height: 60%;
  width: 60%;
}

.imageInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  width: 60%;
}

.body {
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  background: LemonChiffon;
}

.sidebar {
  display: flex;
  width: 30%;
  height: 30%;
  flex-direction: column;
  align-items: flex-end;
  background: Khaki;
  padding-bottom: 14px;
}

.MirrorCOMP {
  background: Thistle;
}

input {
  margin: 8px;
}

.links {
  margin-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-bottom: 15px;
}

.home {
  min-height: 100%;
  margin-bottom: -50px;
  padding: 20px;
  padding-bottom: 50px;
}

.closet {
  min-height: 100%;
  margin-bottom: -50px;
  padding: 20px;
  padding-bottom: 50px;
}

.schedule {
  min-height: 100%;
  margin-bottom: -50px;
  padding: 20px;
  padding-bottom: 50px;
}

.week1 {
  lost-column: 1/7;
  background: PapayaWhip;
}

.week2 {
  lost-column: 1/7;
  background: Moccasin;
}

.firstWeek {
  margin: 10px;
}

.secondWeek {
  margin: 10px;
}

.footer {
  background: Lavender;
  padding-left: 15px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
